.ZAGALOM {
    display: flex;
    column-count: 2;
    margin-top: 100px;
}

.addRecipe_items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

.popular_block_text {
    margin-top: 95px;
}
.popular_recipe {
}
.popular_item {
}
.popular_item {
}

.popular_item:not(:first-child) {
    margin-top: 25px;
}
.popular_item__img {
}

.popular_item_description {
}
.add_Recipe_item_inputs {
    display: flex;
    position: relative;
    margin-right: 120px;
}
.add_Recipe__inputs {
    display: flex;
    width: 395px;
    height: 45px;
    flex-direction: column;
    gap: 40px;
}
.add_Recipe__inputs label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}
.add_Recipe__input {
    text-align: end;
}
.addRecipe_category,
.addRecipe_time,
.addRecipe_about,
.addRecipe_title {
    display: flex;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom: 18px;
    justify-content: space-between;
}
.addRecipe_title input,
.addRecipe_about input {
    border: none;
    text-align: right;
}
.upload_image {
    cursor: pointer;
    width: 360px;
    height: 345px;
    background: url(../../img/image.jpg) no-repeat center left;
    margin-right: 50px;
}

.testtest {
    border: 1px solid black;
    border-radius: 50%;
}

.Recipe_enter {
}
